
@import url('https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap');

*{
	box-sizing: border-box;
}

body {
	color: white;
	background-color: #373b67;
	font-family: 'Yusei Magic', sans-serif;
	font-size: 15px;
	margin: 0;
	
}

.root{
	display: flex;
	flex-direction: column;
	
}


header{
	background-color: #45496e;
	padding: 1rem;
	display: flex;
	justify-content: flex-end;
}

.search{
	background-color: transparent;
	border: 2px solid #22254b;
	border-radius: 50px;
	height: 1.2rem;
	color: white;
	font-family: inherit;
	padding: 0.8rem 1.5rem;
	
}

.search:focus{
	outline:none;
}
 

.movie-container{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.movie{
	background-color: #242744;
	margin: 1rem;
	width:300px;
	border-radius: 3px;
	box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
	overflow: hidden;
	position: relative;
}


.movie img{
	max-width: 100%;
}


.movie-info{
	display: flex;
	padding: 1rem;
	align-items: center;
	justify-content: space-between;
}

.movie-info h3{
	margin: 0;
}

.movie-over{
	background-color: #fff;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	box-shadow: 0 -3px 5px rgba(0, 0, 0, 0.1);
	color: #242744;
	position: absolute;
	padding: 1rem;
	bottom: 0;
	right: 0;
	left: 0;
	overflow:auto;
	max-height: 100%;
	transform: translateY(100%);
	transition: transform 0.3s ease-in-out;
}
.movie:hover .movie-over{
	transform: translateY(0%);

}